<!DOCTYPE html>
<html>

<head>
Alter Page
</head>

<body>

    <h3>Alter</h3>
    <hr>
    <h4>Info</h4>
    <p> {{ alter.name }} </p>
    <p> {{ alter.deadLine }}</p>
    <br>
    {% for bid in bids %}
        <p> {{ bid.user }} bid: {{ bid.amount }}</p>
        <br>
    {% endfor %}


    <form action="{% url 'bid_action' %}" method="post" id="bid-form">
    {% csrf_token %}
    <label for="cents">Bid amount:</label>
    <input id="cents" name="cents" type="text"><br>
    <input id="alter" name="alter" type="hidden" value="{{ alter.pk }}"><br>
    <button>Submit</button>
    </form>
</body>

</html>
