<!DOCTYPE html>
<html>

<head>
Auction Page
</head>

<body>

    <h3>Auction</h3>
    <hr>
    <h4>Info</h4>
    <p> {{ auction.alter.name }} </p>
    <p> {{ auction.deadLine }}</p>
    <br>
    {% for image in images  %}
        <img src="data:image/png;base64,{{ image }}" width="200" height="200">
    {% endfor %}
    <br>
    {% for bid in bids %}
        <p> {{ bid.user }} bid: {{ bid.amount }}</p>
        <br>
    {% endfor %}

    {% if not expired %}
        <form action="{% url 'bid_action' %}" method="post" id="bid-form">
        {% csrf_token %}
        <label for="cents">Bid amount:</label>
        <input id="cents" name="cents" type="text"><br>
        <input id="auction" name="auction" type="hidden" value="{{ auction.pk }}"><br>
        <button>Submit</button>
        </form>
    {% endif %}
</body>

</html>
