<!DOCTYPE HTML>
<html lang="en-us">
    <head>
        <title>Consignment Portal</title>
        {% include "header.html" %}
    </head>
    <body>
        <div class="flexcontent">
            <div class="row">
                <div class="col-sm-4 my-4">
                    {% if request.user.is_authenticated and request.user.user_type == 1 %}
                        <h1>Update To Consigner?</h1>
                        <form action= "{% url 'update_to_consigner' %}" method="POST" class="w3-light-grey p-3 w3-border w3-card" id="update_to_consigner_form">
                            {% csrf_token %}
                        <input class="w3-button w3-border w3-hover-white" type="submit" value="Update"/>
                        </form>
                    {% endif %}
                </div>
                <div class="col-sm-4 my-4">
                    {% if request.user.is_authenticated and request.user.user_type == 2 or request.user.user_type == 3 %}
                        <h1>Submit Alter</h1>
                        <form name="test" action="{% url 'consignment_action' %}" method="POST" enctype="multipart/form-data" class="w3-light-grey p-3 w3-border w3-card">
                            {% csrf_token %}
                            <label class="my-2">Alter Name</label>
                            <input required class="w3-input w3-border" type="text" name="altername" size="20"/>
                            <!--
                            <label class="my-2">Alter Description</label>
                            <input required class="w3-input w3-border" type="text" name="alterdesc" size="20"/>
                            <label class="my-2">Alter Price</label>
                            <input required class="w3-input w3-border" type="text" name="alterprice" size="20"/>
                            <label class="my-2">Card Name</label>
                            <input required class="w3-input w3-border" type="text" name="cardname" size="20"/>
                            <label class="my-2">Deadline</label>
                            <input required class="w3-input w3-border" type="datetime-local" name="alterdeadline" size="20"/>
                            -->
                            <!-- [label ] -->

                            <label class="my-2">Picture</label>
                            <input required class="w3-input w3-border" type="file" name="alterimage" multiple/>
                            <br>
                            <br>
                            <input class="w3-button w3-border w3-hover-white" type="submit" value="Submit"/>
                            <input class="w3-button w3-border w3-hover-white" type="reset" value="Reset" />
                        </form>
                    {% endif %}
                </div>
                <div class="col-sm-4 my-4">
                    {% if request.user.is_authenticated and request.user.user_type == 3 %}
                        <h1>Works To Approve:</h1>
                        <a>Something should go here</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% include "footer.html" %}
    </body>
</html>
