<!DOCTYPE HTML>
<html lang="en-us">
    <head>
        <title>Consignment</title>
        {% include "header.html" %}
    </head>
    <body>
        <div class="flexcontent">
            <div class="row">
                <div class="col-sm-4 offset-sm-4 my-4">
                    <h1>Consignment</h1>
                    <p>Some introductory information on submitting works for consignment approval.</p>
                    <a href="/accounts/consignment_portal" class="w3-button w3-light-grey w3-border w3-hover-white">Consignment Portal</a>
                </div>
            </div>
        </div>
        {% include "footer.html" %}
    </body>
</html>
