<div class="row w3-card">
    <div class="col-sm-4 w3-border w3-center w3-light-grey">
        <a href="#" class="w3-text-grey">Temp</a><br>
        <a href="#" class="w3-text-grey">Temp</a><br>
        <a href="#" class="w3-text-grey">Temp</a>
    </div>
    <div class="col-sm-4 w3-border w3-center w3-light-grey">
        <a href="#" class="w3-text-grey" >Temp</a><br>
        <a href="#" class="w3-text-grey" >Temp</a><br>
        <a href="#" class="w3-text-grey" >Temp</a>
    </div>
    <div class="col-sm-4 w3-border w3-center w3-light-grey">
        <a href="#" class="w3-text-grey">Temp</a><br>
        <a href="#" class="w3-text-grey">Temp</a>
    </div>
</div>
