<!DOCTYPE HTML>
<html lang="en-us">
    <head>
        <title>Search</title>
        {% include "header.html" %}
    </head>
    <body>
        <div class="flexcontent">
            <div class="row">
                <div class="col-sm-4 offset-sm-4 my-4">
                    <h1>Search Results</h1>
                    {% for auction in auctions %}
                        <a href="/auction/auction_page?aid={{alter.pk}}" class="w3-text-grey">{{ auction.alter.name }}</a>
                        <p>{{ auction.deadLine }}</p>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include "footer.html" %}
    </body>
</html>
