<!DOCTYPE HTML>
<html lang="en-us">
    <head>
        <title>Setup Auction</title>
        {% include "header.html" %}
    </head>
    <body onload="SetOffset()">
        <div class="flexcontent">
            <div class="row">
                <div class="col-sm-4 my-4">
                    <h1>Setup Auction for {{alter.name}}</h1>
                    <form name="test" action="{% url 'setup_auction_action' %}" method="POST" class="w3-light-grey p-3 w3-border w3-card">
                        {% csrf_token %}
                        <input name="aid" type="hidden" value="{{ alter.pk }}">
                        <label class="my-2">Launch Time</label>
                        <input required class="w3-input w3-border" type="datetime-local" name="launchTime" size="20"/>
                        <label class="my-2">Deadline</label>
                        <input required class="w3-input w3-border" type="datetime-local" name="deadLine" size="20"/>
                        <label class="my-2">Start Amount</label>
                        <input required class="w3-input w3-border" type="text" name="startAmount" size="20"/>
                        <label class="my-2">Minimum Increment</label>
                        <input required class="w3-input w3-border" type="text" name="minimumIncrement" size="20"/>
                        <input id="offsetInput" type="hidden" name="timezoneOffset" value="">
                        <!-- [label ] -->
                        <br>
                        <br>
                        <input class="w3-button w3-border w3-hover-white" type="submit" value="Submit"/>
                        <input class="w3-button w3-border w3-hover-white" type="reset" value="Reset" />
                    </form>
                </div>
            </div>
        </div>
        {% include "footer.html" %}
    </body>
    <script>
        const offsetElem = document.getElementById("offsetInput");
        const offset = new Date().getTimezoneOffset();
        function SetOffset() {
            offsetElem.setAttribute("value", offset);
        }
    </script>
</html>
