<!DOCTYPE HTML>
<html lang="en-us">
    <head>
        <title>Works Under Management</title>
        {% include "header.html" %}
    </head>
    <body>
        <div class="flexcontent">
            <div class="row">
                <div class="col-sm-4 offset-sm-4 my-4">
                    <h1>Works Under Management</h1>
                    {% for alter in results %}
                        <p>{{ alter.name }} consigned by {{ alter.consigner.name }}
                            <a href="/auction/setup_auction_page?aid={{ alter.pk }}" class="w3-text-grey"> Setup Auction</a>
                        </p>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include "footer.html" %}
    </body>
</html>